*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color:black;
    --bg-color1:#92e3c1;
    --bg-color2:rgb(12, 148, 94);
    --main-bg:#F3F4F6;
    --main-bg2:#FFFFFF;
}
body{
    background-color: var(--main-bg);
}
.navigation{
    justify-content: space-between;
    display: flex;
    height: 40px;
    width: 100%;
}
.navigation-logo{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.navigation-logo .logo-text{
    color: var(--bg-color2);
    margin-top: 20px;
}
.navigation-bar ul{
    justify-content: space-between;
    display: flex;
    gap: 50px;
    margin-top: 30px;
}
.navigation-bar ul li{
    list-style: none;
    font-size: 20px;
}
.navigation-bar ul li:hover{
    cursor: pointer;
    color: var(--bg-color2);
}
.loggins{
    margin-top: 30px;
    margin-right: 50px;
}
.button1{
    padding:8px;
    border-radius: 20px;
    width: 100px;
    font-size: 17px;
    color: var(--bg-color2);
    border-color: var(--bg-color1);
}
.span-color{
    color: var(--bg-color2);
}
.body-left{
    width: 25%;
}
.body-middle{
    width: 50%;
}
.body-right{
    width: 25%;
}
.anime-1{
    width: 200px;
    height: 100px;
    margin-top: 200px;
    margin-left: 40px;
    background-color:#E6E3D3;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.anime-1 img{
    width: 110px;
    height: 100px;
    margin-left: 40px;
}
.anime-2{
    width: 100%;
    height: 150px;
    margin-left: -40px;
    background-color:#92A1B3;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.anime-2 img{
    width: 150px;
    height: 140px;
    margin-left: 70px;
}
.anime-3{
    width: 200px;
    height: 150px;
    margin-left: 40px;
    display: flex;
    place-items: center;
    background-color:var(--bg-color1);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.avatar{
    background-color: var(--main-bg);
    width: 80px;
    height: 80px;
    border-radius: 100px;
    padding:5px;
    margin-left: 50px;
    display: flex;
    place-items: center;
}
.image{
    margin-left:10px ;
}
.anime-3 img{
    width: 50px;
    height: 50px;
}
.anime-4 img{
    width: 50px;
    height: 50px;
}
.anime-5 img{
    width: 50px;
    height: 50px;
}
.anime-6 img{
    width: 50px;
    height: 50px;
}
.first-body{
    display: flex;
    justify-content: space-between;
}
.body-middle{
    display: flex;
    place-items: center;
}
h2{
    font-size: 58px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.indent-1{
    text-indent:30px;
    margin-top: 10px;
}
.indent-2{
    margin-top: 10px;
    text-indent: 50px;
}
.indent-3{
    text-indent: 30px;
    font-weight: normal;
}
.indent-4{
    font-weight: normal;
}

.anime-4 img{
    width: 100px;
    height: 100px;
    margin-left: 90px;
}
.anime-4{
    width: 300px;
    height: 150px;
    display: flex;
    place-items: center;
    margin-left: 100px;
    margin-top: 150px;
    background-color:var(--bg-color1);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.anime-5 img{
    width: 150px;
    height: 200px;
    margin-left: 100px;
}
.anime-5{
    width: 100%;
    height: 150px;
    margin-left: 40px;
    display: flex;
    place-items: center;
    background-color:#92A1B3;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 30px;
}

.anime-6 img{
    width: 100px;
    height: 100px;
    margin-left: 40px;
}
.anime-6{
    width: 165px;
    height: 140px;
    margin-left: 40px;
    display: flex;
    place-items: center;
    background-color:var(--bg-color1);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.anime-7{
    width: 265px;
    height: 160px;
    margin-left: 200px;
    margin-top: -50px;
    display: flex;
    place-items: center;
    background-color:#E6E3D3;
    border-top-right-radius: 250px;
    border-top-left-radius:  350px;
    border-bottom-right-radius:  250px;
}
.button{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-left: 150px;
    padding-top: 40px;
    width: 400px;
}
.button-2{
    padding: 10px;
    height: 50px;
    background-color: var(--bg-color2);
    width: 150px;
    color: var(--main-bg);
    border-radius: 30px;
    border-style: none;
}
.button-3{
    padding: 10px;
    height: 50px;
    background-color: var(--bg-color2);
    width: 150px;
    color: var(--main-bg);
    border-radius: 30px;
    border-style: none;
}